.about-us {
  // padding-top: 1.5em;
  padding: 1em ;

  &__copy {
    margin-left: 1em;
  }

  &__title {
    margin: 0;
  }

  &__subtitle {
    color: $color1;
    margin: 0;
  }

  &__cta {
    @include button(white, $color2);
    border: 1px solid $color2;
  }
}
