.main-banner {
  background: #EEE2E4;
  color: fff;

  &__img {
    display: block;
    height: 50%;
    width: 100%;
  }

  &__copy {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
  }

  &__title {
    font-size: 1.3em;
    @include from(m) {
      font-size: 2em;
    }
      span {
        display: block;
        line-height: 1.3;
        &:first-child {
          font-weight: normal;
        }
      }
}

  &__content {
    @include to(m) {
      display: none;
    }
  }
}

.banner-container {
  position: relative;
}
