.features-container {
  background:  url(../img/mascota.jpg) center / cover;
  position: relative;
  margin-bottom: 2em;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba($color2, .85);
  }
}


.feature {
  padding: 3em 0;
  color: #FFF;
  position: relative;
  z-index: 10;
  text-align: center;
  &__icon {
    font-size: 2.5em;
  }

  &__numbers {
    font-size: 1.6em;
  }
}
