//Menu

$negro: #000;

.main-menu {
  @include edMenu(l);

  a {
    color: fff;
    margin-right: 2px;
    text-transform: uppercase;


    &.active,
    &:hover {
      background: rgba($negro, .2);
    }
  }

  li {
    @include to(l) {
      border-bottom: 1px solid rgba(white, .2);
    }
  }
}

.main-nav {
  @include edNav(right, l);

  &.sticky {
    position: fixed;
    width: 100%;
  }

  @include to(l) {
    background: rgba($color2, .9);
 }
}

.nav-toggle {
  @include navToggle(20px, $color2);
  @include hideFrom(l);
}

.nav-container {
  @include from(l) {
    background: $color2;

    &.sticky {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 100;
      background: rgba($color2, .8);
    }
  }
}
