.pricing-title {
  text-align: center;
}

.pricing-table {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  border: 1px solid $color1;
  margin-bottom: 2em;

  &__title {
    background: $color2;
    padding: 1em;
    text-align: center;
    color: rgba(#FFF,.5);
    span {
      color: #FFF;
      display: inline-block;
      padding-left: .2em;
    }
  }

  &__price {
    padding: .5em 0;
    font-size: 4em;
    text-align: center;
    &:before {
      content: '$';
      font-size: .5em;
    }
  }

  &__feature {
    text-align: center;
    padding: .5em 1em;
    border-bottom: 1px solid #ddd;
    width: 90%;
    margin: 0 auto;
  }

  &__cta {
    @include button($color2, #FFF);
    margin: 1em auto;
    display: table;
  }
}
