.services-container {
  @include grid('.service', 1 2 3, 2em);
  margin-bottom: 2em;
}

.services-title,
.services-subtitle {
  text-align: center;
}

.service {
  position: relative;

  &-icon {
    position: absolute;
    font-size: 2.3em;
    color: $color1;
  }

  &-title,
  &-content {
    padding-left: 3em;
  }

  &-title {
    margin-top: 0;
    color: $color2;
  }
}
