@charset "UTF-8";

@font-face {
  font-family: "edtaller70";
  src:url("../fonts/edtaller70.eot");
  src:url("../fonts/edtaller70.eot?#iefix") format("embedded-opentype"),
    url("../fonts/edtaller70.woff") format("woff"),
    url("../fonts/edtaller70.ttf") format("truetype"),
    url("../fonts/edtaller70.svg#edtaller70") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "edtaller70" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "edtaller70" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\61";
}
.icon-home:before {
  content: "\62";
}
.icon-dog:before {
  content: "\63";
}
.icon-paw:before {
  content: "\64";
}
