// Redefiniendo variables de EDgrid
$cssCore: false;
$devMode: false;

// variable de colores
$color1: #81cdc6;
$color2: #4fa6a0;
$color-text: #555;

//importando EDgrid
@import './ed-grid/ed-grid';

body {
  color: $color-text;
  font-size: .9em;
  line-height: 1.5em;
}

// importando los temas

@import './temas/menu';
@import './temas/banner';
@import './temas/aboutUs';
@import './temas/features';
@import './temas/services';
@import './temas/gallery';
@import './temas/pricing';
// @import './temas/fonts';
