extends templates/template
block banner
  .main-banner
    .ed-container
      .ed-item.banner-container
        img(src="img/perrito.jpg").main-banner__img
        .main-banner__copy
          h2.main-banner__title
            span The Kind Of Care
            span Your Pets Deserve
          .main-banner__content
            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, aut. Officiis ipsa enim eum, accusamus quisquam eius quae, obcaecati, magni provident voluptatem unde deleniti cumque. Quam, nulla accusantium? Ad, laborum?

block aboutUs
  .ed-container.about-us
    .ed-ite.m-50
      img(src='img/perrito-2.jpg').about-us__img
    .ed-ite.m-50.cross-center
      .about-us__copy
        h2.about-us__title About Clinic
        p.about-us__subtitle Pets best friend
        p.about-us__content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        a(href="#").about-us__cta Contact Us

block features
  .features-container
    .ed-container
      .ed-item.s-50.l-25
        .feature
          .icon-heart.feature__icon
          .feature__numbers 15964
          .feature__subtitle Happy Clients
      .ed-item.s-50.l-25
        .feature
          .icon-home.feature__icon
          .feature__numbers 15964
          .feature__subtitle Happy Clients
      .ed-item.s-50.l-25
        .feature
          .icon-heart.feature__icon
          .feature__numbers 15964
          .feature__subtitle Happy Clients
      .ed-item.s-50.l-25
        .feature
          .icon-heart.feature__icon
          .feature__numbers 15964
          .feature__subtitle Happy Clients

block services
  .ed-container
    .ed-item
      h2.services-title Our
        span Services & Procedures
      p.services-subtitle Many Clients Satisfied

      .services-container
        -var i = 6
        -while (i--)
          .service
            .service-icon.icon-dog
            h3.service-title Wellness Care
            p.service-content Lorem ipsum dolor sit amet, consectetur adipisicing elit.

block gallery
  .gallery
    -var g = 8
    -while (g--)
      .gallery-item
        img(src="../img/dog.jpg", alt="dog")

block pricing
  .pricing
    h2.pricing-title Pricing Tables

  .ed-container.pricing-tables
    -var t = 3
    -while(t--)
      .ed-item.l-1-3
        ul.pricing-table
          li.pricing-table__title Preventive
            Span Inspection
          li.pricing-table__price 99.99
          li.pricing-table__feature Feature 1
          li.pricing-table__feature Feature 2
          li.pricing-table__feature Feature 3
          li.pricing-table__feature Feature 4
          li.pricing-table__feature Feature 5
          li: a(href="#").pricing-table__cta Solicitar
