<DOCTYPE html>
html(lang="es")
head
  meta(charset="UTF-8")
  title Pets
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./css/styles.css')
  link(href="https://file.myfontastic.com/pZ7hcrXQqrSNVX6vfYd3jc/icons.css" rel="stylesheet")
body
  header.ed-container
    .ed-item.s-80
      include ../blocks/block-logo
    .ed-item.s-20.cross-center.main-end
      .nav-toggle#main-nav-toggle
  .nav-container#nav-container
    .ed-container
      .ed-item
        nav.main-nav#main-nav
          include ../blocks/block-menu
  block banner
  block aboutUs
  block features
  block services
  block gallery
  block pricing
  //- .textimonials
  //- .posts
  //- footer
  script(src='./js/ed-grid.js')
  script(src='./js/scripts.js')
  script(src='./js/stikyMenu.js')
